.projects-container {
  width: 100%;
  display: flex;
  padding: 40px 0;
  flex-direction: column-reverse;
}

.projects-container .notebook {
  width: 70%;
  animation: float 1.7s ease-in-out infinite;
  margin: auto;
  filter: drop-shadow(0px 10px 10px #6e64fe54);
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}
