.title-container {
  color: var(--primary-color);
  margin-top: 40px;
  text-align: center;
  font-size: 2em;
}

.projects {
  width: 100%;
  display: flex;
  padding: 10px 0;
  flex-direction: column-reverse;
}

.projects .notebook {
  width: 80%;
  animation: float 1.7s ease-in-out infinite;
  margin: auto;
  filter: drop-shadow(0px 10px 10px #6e64fe54);
}

.projects-container {
  overflow-x: hidden;
}

.button-next, .button-prev {
  all: unset;
  color: white;
  position: absolute;
  height: 450px;
  cursor: pointer;
  margin: 20px 0;
  z-index: 1;
  display: none;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

@media only screen and (min-width: 600px) {
  .projects-container {
    padding-left: 70px;
  }

  .projects .carousel {
    height: 65vh;
  }
}

@media only screen and (min-width: 992px) {
  .projects-container {
    margin: auto;
    padding-left: 0;
  }

  .button-next, .button-prev {
    display: block;
  }

  .button-prev {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    left: -60px;
  }

  .button-next svg, .button-prev svg {
    font-size: 1.7em;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin: auto;
  }

  .button-prev svg {
    padding-right: 2px;
  }

  .button-next svg {
    padding-left: 3px;
  }

  .button-next {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    right: -60px;
    top: 0;
  }

  .projects .carousel {
    width: 50%;
    margin-left: 10%;
    height: 65vh;
    position: relative;
  }

  .projects {
    flex-direction: row;
    margin: 20px 0;
    align-items: center;
  }

  .projects .notebook {
    width: 30%;
  }
}

@media only screen and (min-width: 1200px)  {
  .projects .carousel {
    width: 600px;
    margin-left: 10%;
    position: relative;
  }

  .projects .notebook {
    width: 25%;
  }
}
