.contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin: 10px auto;
  margin-left: 30px;
  color: var(--text-color);
}

.contact {
  display: flex;
  padding: 10px 0;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.icon-contact {
  color: var(--primary-color);
  height: 100%;
}

.icon-contact svg {
  font-size: 2.3em;
}

.content {
  width: 80%;
}

.content h2 {
  font-size: 1.3em;
}

.content .text-contact {
  font-size: 1.1em;
  word-wrap: break-word;
}

.content .text-contact a {
  all: unset;
  cursor: pointer;
}

.content .text-contact a:visited {
  all: unset;
}

.content .text-contact a:hover {
  color: var(--primary-color);
  transition: all 0.2s linear;
  text-decoration: underline var(--primary-color);
}

@media only screen and (min-width: 720px) {
  .contacts {
    width: 585px;
  }
}
