.skills-container {
  display: flex;
  width: 100%;
  background-color: var(--primary-color-light);
  justify-content: center;
  padding: 30px 0;
  transition: 0.5s;
}

.container-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container-card .card {
  position: relative;
  transition: 0.5s;
  margin: -30px 0;
}

.container-card .card:hover {
  margin: 10px 0;
}

.container-card .card .face {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  transition: 0.5s;
}

.container-card .card .face.face1 {
  position: relative;
  background-color: var(--card-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container-card .card:hover .face.face1 {
  transform: translateY(0);
  background-color: #6f64fe;
  border-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container-card .card .face.face1 .content-card {
  opacity: 0.8;
  transition: 0.5s;
}

.container-card .card:hover .face.face1 .content-card {
  opacity: 1;
}

.container-card .card .face.face1 .content-card svg {
  font-size: 5em;
  width: 100%;
  color: var(--text-color);
}

.container-card .card:hover .face.face1 .content-card svg {
  color: #fff;
}

.container-card .card .face.face1 .content-card h3 {
  margin: 10px 0 0;
  padding: 0;
  text-align: center;
  color: var(--text-color);
  font-size: 1.5em;
}

.container-card .card:hover .face.face1 .content-card h3 {
  color: #fff;
}

.container-card .card .face.face2 {
  position: relative;
  background-color: var(--card-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-100px);
}

.container-card .card:hover .face.face2 {
  transform: translateY(0);
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container-card .card .face.face2 .content-card p {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

.container-card .card .face.face2 .content-card a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container-card .card .face.face2 .content-card a:hover {
  background-color: #333;
  color: #fff;
}

@media only screen and (min-width: 600px) {
  .skills-container {
    padding-left: 100px;
  }
}

@media only screen and (min-width: 780px) {
  .container-card  {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .container-card .card {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
  }

  .container-card .card:hover {
    margin: 0;
  }
}
