.card-project {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  height: 450px;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  justify-content: space-between;
  background-color: var(--card-project);
  border-radius: 10px;
  transform: scale(1);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
}

.card-project p {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  word-wrap: break-word;
  color: var(--text-color);
  font-size: 0.9em;
}

.card-project h3 {
  margin: 0 auto;
  text-align: center;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.3em;
  padding: 10px 10px;
}

.thumb-project {
  width: 100%;
  cursor: pointer;
  height: 25vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-project .tecnology-icons {
  display: flex;
  justify-content: space-evenly;
  padding: 15px 0;
}

.card-project .tecnology-icons img {
  width: 30px;
}

.container-links {
  display: flex;
}

.container-links a {
  border: 1px solid black;
  display: flex;
  padding: 0px 10px;
  margin: 0 10px 0 15px;
  cursor: pointer;
  border-radius: 2px;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .card-project {
    height: 470px;
    width: 85%;
  }
  
  .card-project p {
    font-size: 1em;
  }

  .card-project h3 {
    font-size: 1.6em;
  }

  .thumb-project {
    height: 30vh;
  }
}

@media only screen and (min-width: 768px) {
  .card-project {
    height: 490px;
    width: 75%;
  }
}

@media only screen and (min-width: 992px) {
  .card-project {
    width: 90%;
    transform: scale(0.7);
  }

  .activeSlide {
    transform: scale(1);
  }
}

@media only screen and (min-width: 1200px)  {
  .card-project {
    height: 490px;
    width: 90%;
    transform: scale(0.7);
  }

  .activeSlide {
    transform: scale(1);
  }
}

