.card-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.card-project .card {
  display: flex;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 400px;
  margin: 5px;
  background-color: var(--primary-color-light);
  border-radius: 10px;
}

.card-project .card h3 {
  text-align: center;
  color: var(--text-color);
  font-size: 1.5em;
}

.thumb-project {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-project .tecnology-icons img {
  width: 40px;
}