.home-container {
  align-items: center;
  background-image: url('../../images/fundo.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  padding: 20px 0;
}

.text-home {
  color: white;
  font-size: 2.4em;
  text-align: center;
  text-align: center;
  width: 80%;
}

/* Consultei o repositório do Lucas Petzinger para fazer o css
Link: https://github.com/PetzingerLucas/Portfolio/blob/master/src/css/Home.css */

.currentTitle1 {
  color: #6F64FE;
  font-size: 2em;
  height: 10vh;
  opacity: 0;
  text-align: center;
  width: 90%;
}

.currentTitle2 {
  animation: slide linear 4s;
}

@keyframes slide {

  0% { opacity: 0;}

  50% { opacity: 1;}

  75% { opacity: 1;}
}

.arrow-down {
  animation: float 1.5s ease-in-out infinite;
  color: #6F64FE;
  cursor: pointer;
  height: 2vh;
}

.arrow-down svg {
  font-size: 2.5em;
}

@keyframes float {
  0%, 100% { transform: translateY(0%) }

  50% { transform: translateY(100%) }
}

@media only screen and (min-width: 600px) {
  .home-container {
    padding-left: 100px;
  }
}

@media only screen and (min-width: 992px) {
  .home-container {
    padding-left: 0;
  }
}
