.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 7vh;
  background-color: red;
}

.checkbox-menu {
  display: none;
}

.menu-hamburger svg {
  color: blue;
  font-size: 1.5em;
}

.navigation {
  padding: 10px;
  position: absolute;
  transform: translate(-170%);
  transition: all 0.5s ease;
  background-color: red;
  width: 40%;
  height: 100vh;
}

.checkbox-menu:checked ~ .navigation {
  transform: translate(0%, 0vh);
}