.header {
  position: fixed;
  width: 100%;
}

.navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 7vh;
}

.container-menu {
  display: flex;
  position: fixed;
  top: 7vh;
  transform: translateX(-100%);
  transition: all 0.4s ease;
  width: 100%;
}

.menu-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-decoration: none;
  width: 70%;
}

.menu-links li {
  width: 100%;
}

.menu-links li a {
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  padding: 15px 10px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.menu-links li a svg {
  font-size: 2em;
  margin-right: 20px;
}

.menu-links li {
  display: flex;
}

.checbox-menu svg {
  cursor: pointer;
  font-size: 2em;
  margin: 10px 20px;
}

.input-checkbox {
  display: none;
}

.show-menu {
  transform: translateX(0%);
}

.btn-theme {
  margin: 10px;
}

.empty-container {
  height: 100vh;
  width: 30%;
}
