.loading-container {
  display: grid;
  height: 100vh;
  place-items: center center;
  width: 100vw;
}

.loading {
  animation: loading 1s infinite;
  border-radius: 50%;
  border: 8px solid var(--primary-color);
  border-top-color: #191D32;
  height: 80px;
  width: 80px;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}