@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  --body-color: #E7ECEF;
  --siderbar-color: #fff;
  --primary-color: #6F64FE;
  --primary-color-light: #efeff7;
  --toggle-color: #ddd;
  --text-color: #5E5E5E;

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

.dark-theme {
  --body-color: #18191a;
  --siderbar-color: #242526;
  --primary-color: #6F64FE;
  --primary-color-light: #6F64FE;
  --toggle-color: #363738;
  --text-color: gray;
}

body {
  background-color: var(--body-color);
  transition: var(--tran-02);
  font-family: 'Montserrat', sans-serif;;
}

.header, .menu-links {
  background-color: var(--siderbar-color);
  transition: var(--tran-02);
}

.checbox-menu svg {
  color: var(--primary-color);
  transition: var(--tran-02);
}

.menu-links li a {
  color: var(--text-color);
}

.menu-links li a svg {
  color: var(--primary-color);
}

.menu-links li a:hover {
  background-color: var(--toggle-color);
  transition: var(--tran-02);
}
