* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  --body-color: #E7ECEF;
  --siderbar-color: #fff;
  --primary-color: #6F64FE;
  --primary-color-light: #efeff7;
  --toggle-color: #ddd;
  --text-color: #5E5E5E;

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

.dark-theme {
  --body-color: #18191a;
  --siderbar-color: #242526;
  --primary-color: #6F64FE;
  --primary-color-light: #6F64FE;
  --toggle-color: #fff;
  --text-color: #ccc;
}

body {
  background-color: var(--body-color);
}

.header, .menu-links {
  background-color: var(--siderbar-color);
}

.checbox-menu svg {
  color: var(--primary-color);
}
