.contacts-container {
  background-color: var(--primary-color-light);
}

.contacts-container .title-container {
  padding-top: 40px;
}

.form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 30px auto;
  width: 90%;
}

.input-label {
  align-items: center;
  background-color: var(--primary-color-light);
  border: none;
  border-bottom: 1px solid var(--primary-color);
  display: flex;
  height: 30px;
  position: relative;
  width: 100%;
}

.input-label .icon {
  background-color: var(--primary-color);
  color: white;
  display: grid;
  height: 28px;
  place-items: center center;
  position: absolute;
  width: 35px;
}

.input-label .icon {
  background-color: var(--primary-color-light);
  color: var(--primary-color);
}

.fade-in {
  opacity: 1;
  transition: 0.2s;
  visibility: visible;
}

.fade-out {
  opacity: 0;
  transition: 0.2s;
  visibility: hidden;
}

.invalid-email {
  bottom: -18px;
  font-size: 0.8em;
  position: absolute;
}

.invalid-email, .invalid-icon {
  color: #DB2B39;
}

.invalid-icon {
  margin-right: 5px;
}

.form-contact input {
  all: unset;
  color: var(--text-color);
  height: 100%;
  margin-left: 30px;
  padding: 0 8px;
  width: 91%;
}

.textarea-label {
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  padding: 5px 10px;
  position: relative;
  width: 100%;
}

.textarea-label span {
  color: var(--text-color);
  font-size: 1.1em;
  position: absolute;
  top: 5px;
  transition: all 0.2s ease-in-out;
  background-color: var(--primary-color-light);
}

#teste {
  font-size: 0.9em;
  padding: 0 5px;
  top: -10px;
}

.textarea-label:focus-within span {
  font-size: 0.9em;
  padding: 0 5px;
  top: -10px;
}

.textarea-label textarea {
  all: unset;
  color: var(--text-color);
  height: 150px;
  margin-top: 10px;
  resize: none;
  width: 101%;
  word-wrap: break-word;
}

.modal-container {
  animation: showBackground 0.3s;
  background-color: rgba(0, 0, 0, 0.36);
  display: flex;
  height: 100vh;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
}

.fade-out-background {
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s;
}

@keyframes showBackground {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.360);
  }
}

.btn-submit {
  all: unset;
  background-color: var(--primary-color);
  width: 97%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1rem;
}

@media only screen and (min-width: 600px) {
  .contacts-container {
    padding-left: 70px;
  }

  .btn-submit {
    width: 100%;
  }
}

@media only screen and (min-width: 720px) {
  .form-contact {
    width: 585px;
  }
}

@media only screen and (min-width: 992px) {
  .form-contact {
    align-items: flex-end;
  }

  .btn-submit {
    width: 30%;
    padding: 10px;
  }
}
