.contacts-container {
  background-color: var(--primary-color-light);
}

.form-contact {
  margin: auto;
  width: 90%;
}

.form-contact input {
  width: 100%;
}

.form-contact textarea {
  resize: none;
  width: 100%;
}

.modal-container {
  display: flex;
  height: 100vh;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
}

.empty-modal {
  animation: showBackgroundModal 0.3s;
  background-color: rgba(0, 0, 0, 0.360);
  border: none;
  height: 100vh;
  position: fixed;
  width: 100%;
}

@keyframes showBackgroundModal {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.360);
  }
}

.message-modal {
  align-content: space-between;
  align-items: center;
  animation: showModal 0.3s;
  background-color: var(--body-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-evenly;
  margin: auto;
  padding: 10px;
  width: 90%;
  z-index: 3;
}

@keyframes showModal {
  0% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0px);
  }
}

.message-modal button {
  all: unset;
  border: 1px solid blue;
  text-align: center;
  width: 30%;
}
